server:
  port: ${SERVER_PORT:8761}

spring:
  application:
    name: eureka

eureka:
  instance:
    hostname: ${EUREKA_HOSTNAME:eureka}
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
